body{
    font-family: monospace;
   
}

header{
    font-size: 30;
    background-image: url("img/header_bg.png");
    display: flex; 
    justify-content:center; 
    align-items: center 
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;  
    background: rgb(37, 37, 37);
 }

 .footer_item, #header_title{
    display: flex; 
    justify-content: center; 
    align-items: center
 }

 footer a{
    color: gray
 }

.crearpubli-cliente{
    width: auto;
    margin: auto;
}

.crearpubli-cliente h2{
    margin-left: 50px;
}

.destinoviaje{
    margin: 5%;
    display: flex;
    
    align-items: center;
}

.hotel{
    margin: 5%;
    display: flex;
    align-items: center;
    
}
.promocion{
    margin: 5%;
    display: flex;
    align-items: center;
    
}

.formulario{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    width: 400px;
    border-radius: 10px;
    text-align: center;
  }
 
    .posts h1{
       margin: 25px 10px 15px;
    }
 
 .post{
    width: 50%;
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 7);
    }
 
 .post img{
    border-radius: 6px;
 
 }
 